# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
npm-debug.log
/@lib-test/**/src/**/*.d.ts
/@lib-test/**/src/**/*.js
/@lib-test/**/src/**/*.map
/@lib-test/shared/shared.d.ts
/@lib-test/shared/shared.js
/@lib-test/shared/shared.js.map

# type script artifacts
/typings

# WebStorm
.idea
.vscode